body {
  background:linear-gradient(to right bottom, #36D7B7, #03A678);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#mainpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 50vw;
  box-shadow: 1px  1px 10px 1px rgb(0, 0, 0);
}

#form {
  padding: 10px;
}

#form, #items {
  width: 100%;
}

#input, #input:focus {
  border: none;
  border-bottom: 2px solid green;
  font-size: 1.2em;
  background-color: whitesmoke;
  margin: 10px 20px;
}

ul {
  min-height: 70vh;
  padding: 10px;
}

.done {
  text-decoration: line-through;
  color: red;
}

.btn {
  margin-left: 5px;
  border: none;
  background-color: #FF6464;
  /* text-decoration: none !important; */
  color: white;
}

#button {
  border: none;
  background-color: green;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  
}

li {
  display: flex;
  justify-content: space-between;
  background-color: teal;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  body {
    /* background: none; */
    /* background-color: white; */
    margin-top: 3vh;
    padding: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 97vh;
    /* display: block; */
  }
  .container {
    display: block;
    min-height: 100%;
    width: 100%;
  }
  #mainpage {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* box-shadow: none; */
    padding: 15px 0;
  }
  #form {
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  
  #form, #items {
    width: 90%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  #input, #input:focus {
    border: none;
    border-bottom: 2px solid green;
    font-size: 1em;
    background-color: whitesmoke;
    margin: 5px 10px;
    text-align: center;
    padding: 5px;
  }
  ul {
    min-height: 70vh;
    padding: 0px;
  }

  li {
    word-wrap: normal;
    word-break: break-all;
  }
}

